@import 'reset';
@import 'variables';



// UTILITIES
.container {
    padding: 3rem 1.5rem;
    margin: 0.25rem auto;
    overflow: hidden;
  }

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// MAIN

header {
    background: $primary-color;
    font-family: $font-stack-s;
    color: $primary-light;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1.5rem 1.5rem;
}

// MAIN NAV
#navbar-main-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: -2px;

    li {
        border-bottom: 2px solid transparent;
    }

    li:hover {
       border-color: $primary-light;
        cursor: pointer;
    }

    li:not(:nth-child(3)) {
        margin-right: 0.7rem;
    }

    li:nth-child(3) {
        margin-left: auto;
    }
     
 }
 
// MAIN SECTION
main {
    background-color: $light-color;
    font-family: $font-stack;
    color: $secondary-color;
    font-size: 1.1rem;
    height: 100vh;

    
    #navbar-secondary-list {
        li {
            display: flex;
            // TOGGLER
            .toggler-container {
                display: flex;

                input {
                    display: none;
                    opacity: 0;
                }

                .toggle {
                    font-size: 20px;
                    width: 2.4rem;
                    background-color: lightgray;
                    border-radius: 1rem;
                    cursor: pointer;
                }

                .circle {
                    height: 1.2rem;
                    width: 1.2rem;
                    border-radius: 50%;
                    background-color: #fff;
                    transition: all 300ms;
                }

                .toggle input:checked + div {
                    transform: translateX(100%);
                    background-color: green;
                }
         }
        }
    }
}
